*{
	margin: 0px ;
	padding: 0px;
	font-family: century gothic
}
header{
	background-image: url("erere.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	list-style-type: none;
	float: right; 
	margin-top: 20px;
}
ul li{
	display: inline-block;
	color: white;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 5px solid transparent;
}
ul li a:hover{
	background-color: white;
	color: black;
}
ul li.active a{
	background-color: white;
	color: black;
}

.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.title{
	color: white;
	font-size: 25px;
	text-decoration: underline;
}

.tittle h1{
	color: white;
	font-family: 60px;
	font-family: "Courier New", Courier, monospace;
}
.tittle h1{
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-90%,-90%);
}
